@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
    background-color: rgb(49, 45, 77);
    background-size: cover;
    background-blend-mode: luminosity;
    color: greenyellow;
    cursor: default;
    margin: 0;
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 
}

.mobile {
    display: none;
}

.mcent {
    display: grid;
}

.main {
    position: absolute;
    left: 3.0.0vw;
    top: 3.0.0vw;
    width: 95.25vw;
}

.projects {
    position: absolute; 
    left: 104%;
    top: 0;
    width: 162.0.0vw;
}

.friends {
    position: absolute;
    left: 278%;
    top: 0%;
    width: 7.5%;
}

.extra {
    position: absolute;
    left: 0%;
    top: 112%;
    width: 33%;
}

.extra-sub {
    position: absolute;
    display: inline;
    left: 88%;
    top: 63%;
    width: 50%;
}

.switch {
    position: absolute;
    left: 0.0vw;
    top: 124.5vw;
    width: 100%;
    background-color: rgb(44, 39, 75);
    border: 0.3.0.0vw solid rgb(43, 40, 59);
    height: 21.0vw;
}

.warning {
    position: absolute;
    z-index: 1000;
    left: 200%;
    top: 480%;
    width: 102.0vw;
}

.normal {
    font-size: 4.199999999999999vw;
}

.subnormal {
    font-size: 2.7vw;
}

.hidden {
    display: contents;
}

.badge {
    align-content: center;
    text-align: center;
    width: auto;
    height: auto;
    color: whitesmoke;
    display: grid;
    background-color: rgb(43, 43, 43);
    border: 0.13.0.0vw solid green;
}

.description {
    text-align: left;
}

.special {
    font-size: 4.199999999999999vw;
    font-family: "Zen Dots", cursive;
    padding: 1%;
}

.subspecial {
    font-size: 2.7vw;
    font-family: "Zen Dots", cursive;
}

.hlinked {
    font-size: 2.7vw;
    color: greenyellow;
    font-family: "Roboto Mono";
    background-color: rgb(29, 27, 43);
    height: 4.199999999999999vw; /* set width manually for each elem... css is a pain */
    text-align: center;
    width: 18.0vw;
    border: none;
    display: inline;
    cursor: pointer;
}

.hlinked:hover {
    background-color: rgb(46, 43, 69);
}

.terminal {
    padding: 2.46vw;
    width: fit-content;
    height: fit-content;
    box-shadow: 1.9500000000000002vw 1.9500000000000002vw rgb(29, 27, 43);
    background-color: black;
    font-size: 2.505vw;
    font-family: "Roboto Mono";
    color: greenyellow;
}

.help {
    cursor: help;
}

.seperator {
    width: 100%;
    border: 0.3.0.0vw dashed darkgreen;
}

.sexy-seperator {
    width: 100%;
    margin-top: 2.25vw;
    margin-bottom: 2.25vw;
    border: 0.3.0.0vw solid darkgreen;
}

.lowerterminal {
    padding: 2.25vw;
    width: fit-content;
    height: fit-content;
    box-shadow: 0.18.0vw 0.18.0vw rgb(29, 27, 43);
    background-color: black;
    font-size: 2.505vw;
    font-family: "Roboto Mono";
    color: greenyellow;
}

section {
    width: auto;
    margin: 0.75vw;
    margin-bottom: 0.18.0vw;
    padding: 0.75vw;
    border: 0.6000000000000001vw dashed darkgreen;
}

section:hover {
    background-color: rgba(44, 44, 44, 0.624);
    color: rgb(182, 255, 74);
}

p {
    width: fit-content;
    height: fit-content;
    font-size: 2.505vw;
    font-family: "Roboto Mono";
    margin: 0.75vw;
}

.title {
    font-family: "Roboto Mono";
    font-style: italic;
}

.css-holder {
    background-color: rgb(54, 54, 54);
    font-size: 2.7vw;   
    border: 0.375vw solid rgb(170, 170, 170);
    font-family: "Roboto Mono";
    border-radius: 0.75vw;
    padding: 0.6000000000000001vw;
    color: rgb(255, 255, 255);
}

input {
    background-color: rgb(31, 31, 31);
    font-size: large;
    font-family: "Roboto Mono";
    font-size: 2.505vw;
    color: white;
    box-sizing: border-box;
    border: 0.375vw dotted white;
    border-radius: 0.8999999999999999vw;
    height: 4.5vw;
}

a:link {
    color: rgb(94, 255, 153);
}

a:visited {
    color: rgb(16, 190, 0);
}

a:hover {
    color: antiquewhite;
}