@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

body {
    background-color: rgb(22, 22, 22);
    font-family: "Raleway";
    cursor: default;
}

.content {
    margin: auto;
    width: 50%;
}

.title {
    font-family: "Zen Dots";
    font-size: x-large;
}

.subtitle {
    font-size: large;
}

.block {
    color: rgb(239, 239, 239);
    background-color: #15202b;
    margin: 18px;
    border-color: #192734;
    border-width: 10px;
    border-radius: 4px;
    padding: 10px;
    width: fit-content;
    height: fit-content;
    box-shadow: 10px 10px rgb(5, 10, 15);
    font-size: 15px;
    /*font-family: "Roboto Mono";*/
}

.card {
    border-color: #2a4056;
    border-radius: 10px;
    border-style: groove;
    padding: 8px;
    margin: 6px;
    margin-bottom: 10px;
}

.card:hover {
    background-color: #1b2937;
}

.layer-order {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.button {
    background-color: #22303c;
    padding: 4px;
    margin: 10px;
    display: inline-block;
    text-align: middle;
}
