@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
    background-color: rgb(49, 45, 77);
    background-size: cover;
    background-blend-mode: luminosity;
    color: greenyellow;
    cursor: default;
    margin: 0;
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 
}

.mobile {
    display: none;
}

.mcent {
    width: 7.8vw;
}

.main {
    position: absolute;
    left: 1vw;
    top: 1vw;
    width: 31.75vw;
}

.projects {
    position: absolute; 
    left: 104.5%;
    top: 0;
    width: 42.2vw;
}

.friends {
    position: absolute;
    display: grid;
    left: 242%;
    top: 0%;
    width: 100%;
    height: 100%;
}

.extra {
    position: absolute;
    left: 0%;
    top: 112%;
    width: 100%;
}

.offer {
    position: absolute;
    left: 242%;
    top: 394%;
    width: 65%;
}


.massive-seperator {
    position: absolute;
    left: 242%;
    top: 394%;
    width: 65%;
}

.extra-sub {
    position: absolute;
    display: block;
    left: 87.75%;
    top: 61%;
    width: 100%;
}

.games {
    position: absolute;
    padding-bottom: 4%;
    left: 0%;
    top: 505%;
    width: 137%;
}

.suggestions {
    position: absolute;
    padding-bottom: 4%;
    left: 0%;
    top: 691%;
    width: 137%;
}

.gallery {
    position: absolute;
    padding-bottom: 4%;
    left: 141%;
    top: 505%;
    width: 600%;
}

/* for image */
.extra-sub:hover {
    z-index: 3000;
}

.normal {
    font-size: 1.1vw;
}

.subnormal {
    font-size: 0.9vw;
}

.hidden {
    display: contents;
}

.badge {
    align-content: center;
    align-self: center;
    text-align: center;
    float: left;
    width: auto;
    height: auto;
    color: whitesmoke;
    display: grid;
    background-color: rgb(43, 43, 43);
    border: 0.11vw solid green;
}

.description {
    text-align: center;
    float: inline-start;
}

.special {
    font-size: 1.30vw;
    font-family: "Zen Dots", cursive;
    padding: 1%;
}

.subspecial {
    font-size: 0.9vw;
    font-family: "Zen Dots", cursive;
}

.hlinked {
    font-size: 0.9vw;
    color: greenyellow;
    font-family: "Roboto Mono";
    background-color: rgb(29, 27, 43);
    height: 1.4vw; /* set width manually for each elem... css is a pain */
    text-align: center;
    width: 6vw;
    border: none;
    display: inline;
    cursor: pointer;
}

.hlinked:hover {
    background-color: rgb(46, 43, 69);
}

.terminal {
    padding: 0.82vw;
    width: fit-content;
    height: fit-content;
    box-shadow: 0.65vw 0.65vw rgb(29, 27, 43);
    background-color: black;
    font-size: 0.835vw;
    font-family: "Roboto Mono";
    color: greenyellow;
}

/* woah!! :) */
.terminal:hover {
    background-color: rgb(8, 8, 8);;
}

.help {
    cursor: help;
}

.seperator {
    width: 100%;
    border: 0.1vw dashed darkgreen;
}

.sexy-seperator {
    width: 100%;
    margin-top: 0.75vw;
    margin-bottom: 0.75vw;
    border: 0.1vw solid darkgreen;
}

.lowerterminal {
    padding: 0.75vw;
    width: fit-content;
    height: fit-content;
    box-shadow: 0.6vw 0.6vw rgb(29, 27, 43);
    background-color: black;
    font-size: 0.835vw;
    font-family: "Roboto Mono";
    color: greenyellow;
}

/* woah!! :) */
.lowerterminal:hover {
    background-color: rgb(8, 8, 8);
}

section {
    width: auto;
    align-items: center;
    margin: 0.25vw;
    margin-bottom: 0.2vw;
    padding: 0.25vw;
    border: 0.2vw dashed darkgreen;
}

.project {
    margin-bottom: 0.6vw;
}

.badge-sect {
    width: 8.1vw;
}

article {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 0.2vw;
    grid-auto-rows: auto;
}

section:hover {
    background-color: rgba(29, 29, 29, 0.624);
    color: rgb(182, 255, 74);
}

p {
    width: fit-content;
    height: fit-content;
    font-size: 0.835vw;
    font-family: "Roboto Mono";
    margin: 0.25vw;
}

.title {
    font-family: "Roboto Mono";
    font-style: italic;
}

.css-holder {
    background-color: rgb(54, 54, 54);
    font-size: 0.9vw;   
    border: 0.125vw solid rgb(170, 170, 170);
    font-family: "Roboto Mono";
    border-radius: 0.25vw;
    padding: 0.2vw;
    color: rgb(255, 255, 255);
}

.enlarge {
    width: 1.7vw;
}

.enlarge:hover {
    width: 100%;
}

input {
    background-color: rgb(31, 31, 31);
    font-size: large;
    font-family: "Roboto Mono";
    font-size: 0.835vw;
    color: white;
    box-sizing: border-box;
    border: 0.125vw dotted white;
    border-radius: 0.3vw;
    height: 1.5vw;
}

a:link {
    color: rgb(94, 255, 153);
}

a:visited {
    color: rgb(16, 190, 0);
}

a:hover {
    color: antiquewhite;
}

.slideshow {
    width: 50vw;
    height: 40vw;
    position: relative;
    margin: auto;
}

.slide {
    align-items: center;
    display: none;
}

.previous, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -2vw;
    padding: 1vw;
    color: greenyellow;
    background-color: rgba(0, 0, 0, 0.4);
    font-weight: bold;
    font-size: 1.2vw;
    transition: 0.6s ease;
    border-radius: 0 0.5vw 0.5vw 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 0.5vw 0 0 0.5vw;
}

.previous:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.text {
    color: whitesmoke;
    background-color: rgba(0,0,0,0.4);
    font-size: 2vw; 
    padding: 0.5vw 1vw;
    position: absolute;
    bottom: 0.5vw;
    top: 90%;
    width: 100%;
    text-align: center;
}

.numbered-text {
    color: whitesmoke;
    background-color: rgba(1, 1, 1, 0.5);
    font-size: 1vw;
    padding: 1vw 2vw;
    position: absolute;
    top: 0;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

.slide-img {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    margin: auto;
    max-height: 39vw;
    min-height: 39vw;
    max-width: 50vw;
}

.list {
    list-style-type: square;
}

table, th, td {
    background-color: rgb(27, 27, 27);
    border: 0.05vw solid darkgreen;
}

th, td {
    text-align: left;
}

table {
    margin: 0.7vw;
    border-collapse: collapse;
    width: 96.5%;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
